<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yuria.shApping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smartphone"
        android:roundIcon="@drawable/ic_smartphone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="yuria.shApping.activities.HomeActivity"
            android:label="Home" />
        <activity android:name="yuria.shApping.activities.MenuActivity" />
        <activity
            android:name="yuria.shApping.activities.MapsActivity"
            android:label="Mappa" />
        <activity
            android:name="yuria.shApping.activities.RegistrazioneActivity"
            android:label="Le Mie Registrazioni" />
        <activity
            android:name="yuria.shApping.activities.RicProdActivity"
            android:label="Ricerca Acquisto" />
        <activity
            android:name="yuria.shApping.activities.RegProdActivity"
            android:label="Registra Acquisto" />
        <activity
            android:name="yuria.shApping.activities.DescAcquistoActivity"
            android:label="Descrizione Acquisto" />
        <activity
            android:name="yuria.shApping.activities.LoginActivity"
            android:label="shApping">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yuria.shApping.activities.RisultatoRicercaActivity"
            android:label="Risultato Ricerca" />
        <activity
            android:name="yuria.shApping.activities.ModElimRegActivity"
            android:label="Descrizione Acquisto"></activity>
        <activity android:name="yuria.shApping.activities.ModificaRegistrazione"
            android:label="Modifica Registrazione"></activity>
    </application>

</manifest>